
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496323643704'); /* IE9*/
  src: url('iconfont.eot?t=1496323643704#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496323643704') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496323643704') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496323643704#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before { content: "\e698"; }

.icon-category:before { content: "\e699"; }

.icon-comments:before { content: "\e69b"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-refresh:before { content: "\e6aa"; }

.icon-search:before { content: "\e6ac"; }

.icon-set:before { content: "\e6ae"; }

.icon-alignjustify:before { content: "\e66a"; }

.icon-clock:before { content: "\e6bb"; }

.icon-remind:before { content: "\e6bc"; }

.icon-attachment:before { content: "\e6c0"; }

.icon-electrical:before { content: "\e6d4"; }

.icon-scanning:before { content: "\e6ec"; }

.icon-link:before { content: "\e6f7"; }

.icon-move:before { content: "\e6fd"; }

.icon-office:before { content: "\e705"; }

.icon-gerenzhongxin:before { content: "\e70b"; }

.icon-icondownload:before { content: "\e714"; }

.icon-map:before { content: "\e715"; }

.icon-bad:before { content: "\e716"; }

.icon-good:before { content: "\e717"; }

.icon-save:before { content: "\e747"; }

.icon-hot:before { content: "\e756"; }

.icon-earth:before { content: "\e828"; }

.icon-task-management:before { content: "\e829"; }

.icon-trust:before { content: "\e82a"; }

.icon-password:before { content: "\e82b"; }

